/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #eeaaaa;
  color: #000000;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img {
  max-width: 100%;
  height: auto;
}

.header_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul.menu{
  display: flex;
}
.logo img{
  width: 60px;
}

div.container {
  display: flex;
  gap: 20px;
}

div.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card img {
  width: 150px;
  height: auto;
}

.card button {
  margin-top: 10px;
}

.card a{
  width: 50px;
  height: auto;

}